.login-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.login-card {
    max-width: 380px;
    max-height: 650px;
    padding: 300px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color .5s ease 0s;
    margin: auto;
}

.login-card .login-card__field {
    position: relative;
    height: 48px;
    width: 320px;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 24px;
}

.login-card input:focus {
    border:2px solid var(--main-color);
}

/*to remove blue background on input when use autocomplete*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--main-bg) inset !important;
}

.login-card__submit {
    background: linear-gradient(-45deg, var(--main-color), #9f69fe, var(--second-color));
    width: 100%;
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    margin-top: 48px;
    margin-bottom: 24px;
}

.login-card__submit:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
}

.login-card__submit:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.login-card__field > input {
    height: 100%;
    width: 100%;
    padding: 8px 64px 8px 24px;
    font-size: 1rem;
    border-radius: var(--border-radius);
    color: var(--txt-color);
    background-color: var(--main-bg);
}

.login-card__logo {
    height: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.login-card__logo > img {
    height: 80px;
}

.login-card__logo-title {
    letter-spacing: 4px;
    margin-top: 16px;
    font-size: 3em;
    text-transform: uppercase;
    background: -webkit-linear-gradient(-45deg, var(--main-color), #9f69fe, var(--second-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-card__create-one {
    color: var(--main-color);
}

.login-card__error-message {
    padding-left: 16px;
    color: red;
    overflow: hidden;
}